{% extends "shared/base.html" %}

<title>Homepage</title>

{% block content %}

<div class="hero">
    <h1 class="display-4">Welcome to Studio 89<h1>
        <p class="lead">Your one-stop self-care space with tattooists, beauticians, barbers, hair stylists, and dog groomers.</p>
    </div>
    <div class="messages">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
