{% extends "shared/base.html" %}
{% load static %}
{% block content %}<h1> Barber</h1>
<p>A barber is a professional who specializes in cutting, styling, and grooming men's hair and facial hair. They are skilled in various techniques for haircuts, beard trims, shaves, and other grooming services. Barbers often work in barbershops, which are social hubs where clients can relax and enjoy a personalized grooming experience.</p>
<p>Key qualities of a barber include:</p>

<ul>
    <li>Technical Skills: Proficiency in using scissors, clippers, razors, and other tools to achieve precise cuts and styles.</li>
    <li>Attention to Detail: Ensuring each haircut and shave is tailored to the client's preferences and executed with precision.</li>
    <li>Customer Service: Building rapport with clients, understanding their needs, and providing a comfortable and enjoyable experience.</li>
    <li>Hygiene and Safety: Maintaining a clean and sanitary workspace, following health regulations, and using sterilized tools.</li>
</il>

<img src="{% static "images/Barber.jpeg" %}">
{% endblock  %}