
{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<h1>Dog Groomer</h1>
<p>A dog groomer is a professional who specializes in maintaining the cleanliness and appearance of dogs. They perform tasks such as bathing, brushing, trimming fur, and clipping nails. Dog groomers also check for signs of health issues and</p>
<p>provide basic care advice to pet owners. Their goal is to ensure that dogs are comfortable, healthy, and looking their best.</p>

<img src="{% static "images/doggroomer.jpeg" %}"

{% endblock  %}
