{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<h1>Hairdresser</h1>
<p>A hairdresser is a professional who specializes in cutting, coloring, and styling hair to enhance a client's appearance. They are skilled in various techniques and trends,</p>
<p>providing personalized services to meet each client's needs and preferences. Hairdressers often work in salons, where they also offer advice on hair care and maintenance.</p>

<img src="{% static "images/hairdresser.jpeg" %}"


{% endblock  %}