{% extends "shared/base.html" %}
{% load static %}

{% block content %}
<h1> Nail Technician</h1>
<p>A nail technician, or nail tech, is a professional who specializes in the care and beautification of clients' nails. They perform manicures, pedicures, nail art, and other nail treatments, ensuring that nails are healthy and aesthetically pleasing.</p>
<p>Nail techs are skilled in various techniques, including nail shaping, cuticle care, and applying nail polish, gel, or acrylics. They also provide advice on nail care and maintenance.</p>


<img src="{% static "images/nailtech.jpeg" %}"

{% endblock %}