{% extends "shared/base.html" %}
{% load static %}
{% block content %}
<h1> Tatooist </h1>

<p>A tattooist, also known as a tattoo artist, is a skilled professional who creates permanent designs on the skin using needles and ink. They work closely with clients to develop custom artwork that reflects personal stories, interests, or aesthetics. </p>
<p>Tattooists must have a strong artistic ability, attention to detail, and a thorough understanding of hygiene and safety practices to ensure a safe and satisfying experience for their clients.</p>

<img src="{% static 'images/tatooist.jpeg' %}">
{% endblock %}